version: "3.8"
services:
    signalr:
        build:
            context: .
            dockerfile: ./SignalRChat/Dockerfile
        expose: 
            - "8000"
        ports:
            - "8000:8000"
    angular:
        build:
            context: .
            dockerfile: ./Angular/Dockerfile
        expose: 
            - "4200"
        ports: 
            - "4200:4200"
        depends_on: 
            - signalr
    nginx:
        image: nginx:latest
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
        depends_on: 
            - signalr
            - angular
        ports:
            - "5000:5000"
            - "5001:5001"